<section class="section highlights">
  <div class="section-header">
    <h2>Book your stay now!</h2>
  </div>
  @if (roomTypesState().loading) {
  <p class="subtext">Loading room types...</p>
  } 
  
  @if (roomTypesState().error) {
  <p class="subtext error-text">
    Failed to load room types: {{ roomTypesState().error }}
  </p>
  }
  
  @if (!roomTypesState().loading && !roomTypesState().error){
  <div class="grid three">

    @for (room of roomTypesState().data; track room.id) {
      <div class="highlight-card bright-card">
      <div class="room-type-img-wrap" (click)="book.emit(room.id)">
        <img class="room-type-img" [src]="room.imageUrl" [alt]="room.typeName" />
      </div>
      <div class="room-name-detail">
        <p>{{ room.typeName }}</p>
        <p>{{ room.bedNumber }} beds · ${{ room.price }}</p>
      </div>
      <div class="card-actions">
        <button class="book-btn" type="button" (click)="book.emit(room.id)">
          Book
        </button>
      </div>
    </div>
    }
  </div>
  }
</section>
